body{
    background: linear-gradient(to bottom right ,red,orange,yellow);
    text-align: center;
    color: darkblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;
    font-size: large;
}
#one{
    color: cornsilk;
}
button{
   background-color: rgb(31, 165, 188);
   width: 100px;
   height: 50px;
   margin: 10px;
   margin-left: 10px;
   text-decoration: none;
   text-decoration-line: none;
}
#two{
    color: darkslateblue;
}
